/* ### fundo transparente index ###*/
body{
	font-family: Calibri;
}
.TranspCad2 {
    text-align: center;
    position: relative;
    background: rgba(255, 255, 255, 0.7);
    border-radius: 20px;
    width: 40%;
    height: 25%;
    margin: 0 auto;
    margin-top: 5%;
    position: relative;
    top: 10%;
    padding-top: 5%;
}
.btnLoginIndex1{
    width: 80%;
    padding: 20px;
    font-size: 1.2em;
    color: white;
    width: 250px;
    background-color: #427AAA;
    border-top-left-radius:8px;
    border-bottom-right-radius: 8px;
    border: none;
    font-weight: 600;
    margin-right: 15px;
}
.btnLoginIndex2{
    width: 80%;
    padding: 20px;
    font-size: 1.2em;
    color: white;
    width: 250px;
    background-color: #427AAA;
    border-top-right-radius:8px;
    border-bottom-left-radius: 8px;
    border: none;
    font-weight: 600;
    margin-left: 15px;
}
.btns{
    width: 100%;
}
.cdfl{
    font-size: 2.3em;
    color:black;
    font-weight: 500;
}
a{
    color:white;
    text-decoration: none;
}