*{
	margin:0px;
	padding:0px;
	box-sizing:border-box;
	overflow:hidden;
	font-family:calibri;
}
/* tela de dados de atendimento a secretaria */
.container-principal{
	width:100%;
	height:100vh;
}
.cabecalho{
	padding:25px 0 15px 70px;
}
.detalhe-cima{
	background-color:#AA4D57;
	border-bottom-left-radius:10px;
	position:absolute;
	top:0;
	right:0;
	width:65%;
	height:50px;
}
.container{
	display:flex;
}
.tb-atendimento{
	border-radius:30px;
	background-color:#568CB4;
	width:52%;
	height:50%;
	margin-top: 2%;
	margin-right: 5%;
}
.table1{
	width:100%;
	
	
}
.thead1{
	color:white;
	font-size:1.8em;
	margin:20px;
	text-align: center;
}
.h1, .h2{
	margin-top:15px;
}
.h1{
	text-transform:uppercase;
	font-size:1.5em;
}
.h2{
	color:red;
	font-size:1em;
	background-color: white;
	margin-left: 30%;
	margin-right: 30%;
}

/* table ultimas senhas */

.container-ult-senhas{
	width:60%;
	border-radius:30px;
	position:absolute;
	bottom:4%;
	left:0;
	background-color:#568CB4;
	height:26vh;
	text-align:center;
	color:white;
	overflow-y: scroll;
	margin-left: 2%;
	margin-bottom: 1.5%;
	margin-right: 5%;
}	
.ult-senhas-h2{
	color:white;
	font-size:2.4em;
	font-family:sans-serif;
}
.ul-ultimos{
	display:inline-block;
	font-size: 25px;
	background-color: white;
}

.sect-ult-senhas{
	color:red;
	display:block;
	line-height: 30px;
}

.horarioat{
	background-color: red;
	color:white;
}


/* table senhas */
.tb-senhas{
	width:30%;
	height:55vh;
	text-align: center;
	overflow-y:auto;
	position:absolute;
	bottom:70px;
	right:40px;
	padding: 25px;
	
}
.tb-senhas::-webkit-scrollbar {
  width: 8px;
}
.tb-senhas::-webkit-scrollbar-thumb {
  background-color: #568CB4;
  border-radius: 8px;
}
.table2{
	width:100%;
	text-align:center;		
}
.thead2{
	font-size:1.5em;
	color:#568CB4;
}

.h1-tb-senha{
	font-family:'Inter', sans-serif;
	color:red;
	font-size:2em;
	-webkit-text-stroke: 3px red;
}
.tbody2{
	font-size:1.2em;
	text-transform:capitalize;
	line-height: 40px;
	color:red;
}



/* btns proximo/Repete */
.btn-EncAtd{
	position:absolute;
	top:14%;
	right:11%;
	padding:10px;
	border:none;
	background-color:#568CB4;
	border-radius:4px;
	width:225px;
}
.btn-EncAtd > a{
	
	font-size:1.7em;
	font-weight:1000;
	color:white;
	text-decoration:none;
	font-family: 'Inconsolata', monospace;
	text-transform: uppercase;
}
.btn-RepAtd{
	position:absolute;
	top:25%;
	right:11%;
	padding:10px;
	border:none;
	background-color:#568CB4;
	border-radius:4px;
	width:225px;
	margin-top: 2%;
}
.btn-RepAtd > a{
	font-size:1.7em;
	font-weight:1000;
	color:white;
	text-decoration:none;
	font-family: 'Inconsolata', monospace;
	text-transform: uppercase;
}

.detalhe-baixo{
	background-color:rgb(255, 0, 0);
	border-top-right-radius:10px;
	position:fixed;
	bottom:0;
	left:0;
	width:89%;
	padding:20px;
	text-align: center;
	color:white;
	font-size:1.8em;
}
.sen-ant{
	color:#568CB4;
}
