<!DOCTYPE html>
<html style="font-family: Calibri" xmlns:th="http://tymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Cadastro de Cursos</title>
<link rel="stylesheet" type="text/css"
	href="/materialize/css/materialize.css">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
	rel="stylesheet">
</head>
	<body>
	<header th:replace="fragments/padrao :: cabecalho"></header>

		<h2 style="text-align: center;">Cadastro de Visitante</h2>
	
		<form class="col s12" method="post"
			style="width: 80%; margin: 0px auto 0px auto" action="salvarCurso">
			<input type="hidden" name="id" th:value="${c?.id}" />
			<div class="row">
	
				<div class="input-field col s6">
					<input placeholder="Nome do Curso" type="text" name="nome"
						th:value="${c?.nome}">
				</div>
				
				<div class="input-field col s6">
					<select name="tpCurso.id">
						<option value="" disabled selected>Escolha uma opção</option>
						<option th:each="tc: ${tipos}" th:text="${tc.tpCurso}" th:value="${tc.id}"></option>
					</select> <label>Tipo de Curso</label>
				</div>
	
				<div class="input-field col s6">
					Data Início Matrículas <input type="date" name="matriculaInicio"
						th:value="${c?.matriculaInicio}">
				</div>
	
				<div class="input-field col s6">
					Data Fim Matrículas <input type="date" name="matriculaExpiracao"
						th:value="${c?.matriculaExpiracao}">
				</div>
				
				<div class="input-field col s4">
					<input placeholder="Duração do Curso" type="text" name="duracao"
						th:value="${c?.duracao}">
				</div>
				
				<div class="input-field col s4">
					<select name="pCurso.id">
						<option value="" disabled selected>Escolha uma opção</option>
						<option th:each="pc: ${periodocurso}" th:text="${pc.periodo}" th:value="${pc.id}"></option>
					</select> <label>Periodo</label>
				</div>
					
				<div class="input-field col s4">
					<input placeholder="Idade Mínima" type="number" name="idadeMinima"
						th:value="${c?.idadeMinima}">
				</div>
	
				<div class="input-field col s4">
					<input class="waves-effect waves-light btn"
						style="background-color: #DCDCDC; margin-left: 550px" type="submit">
				</div>
	
			</div>
		</form>
		<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
		<script src="/materialize/js/materialize.min.js"></script>
	</body>
	<script>
	  $(document).ready(function(){
		    $('select').formSelect();
		  });
	</script>
</html>

<!-- 	<form method="post" style="border:2" action="salvarCurso">

		<input type="hidden" name="id" th:value="${c?.id}" />

		<div>
			nome <input type="text" name="nome" th:value="${c?.nome}">
		</div>
		<br>
		<div>
			matricula inicio <input type="date" name="matriculaInicio"
				th:value="${c?.matriculaInicio}">
		</div>
		<br>
		<div>
			matricula expiracao <input type="date" name="matriculaExpiracao"
				th:value="${c?.matriculaExpiracao}">
		</div>
		<p>
		<div>
			<select name="tpCurso.id">
				<label>Tipo do curso</label>
				<option th:each="tc: ${tipos}" th:text="${tc.tpCurso}"
					th:value="${tc.id}"></option>
			</select>
		</div>
		<p>
		<div>
			<select name="pCurso.id">
				<label>Periodo do curso</label>
				<option th:each="pc: ${periodocurso}" th:text="${pc.periodo}"
					th:value="${pc.id}"></option>
			</select>
		</div>

		<br>
		<div>
			idade minima <input type="number" name="idadeMinima"
				th:value="${c?.idadeMinima}">
		</div>
		<br> <br>
		<div>
			duracao <input type="text" name="duracao" th:value="${c?.duracao}">
		</div>
		<br>
		<div>
			<button type="submit">Cadastrar</button>
		</div>
		<br>

	</form> -->