<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
	<h1>Cadastro de curso</h1>

	<form method="post" action="salvarPortaria">

		<input type="hidden" name="id" th:value="${p?.id}" />

		<div>
			nome <input type="text" name="nome" th:value="${p?.nome}">
		</div>
		<br>
		<div>
			login <input type="text" name="login" th:value="${p?.login}">
		</div>
		<br>
		<div>
			senha <input type="text" name="senha">
		</div>
		<br>
		
		<div>
			<button type="submit">Cadastrar</button>
		</div>
	</form>
</body>
</html>