<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
	<h1>Cadastro de secretario</h1>

	<form method="post" action="salvarSec">

		<input type="hidden" name="id" th:value="${s?.id}"/>

		<div>
			nome <input type="text" name="nome" th:value="${s?.nome}">
		</div>
		<br>
		<div>
			matricula <input type="text" name="matricula" th:value="${s?.matricula}" >
		</div>
		<br>
		<div>
			senha <input type="text" name="senha">
		</div>
		<br>

		<div>
			<button type="submit">Cadastrar</button>
		</div>
	</form>
</body>
</html>