<!DOCTYPE html>
<html style="font-family: Calibri" xmlns:th="http://tymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Cadastro Secretaria</title>
<link rel="stylesheet" type="text/css"
	href="/materialize/css/materialize.css">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
	rel="stylesheet">
</head>
<body>
	<nav>
		<div class="nav-wrapper col s6">
			<a href="/logoutS"><i class="material-icons right"
				style="font-size: 45px">exit_to_app</i></a> <img
				class="brand-logo center" src="/image/senai-logo-nav.png">
			<ul class="left hide-on-med-and-down">
				<li><a href="javascript:history.back()"><i
						class="material-icons">arrow_back</i></a></li>
				<li><a href="/telaInicioSec">Inicio</a></li>
				<li><a href="/painelSenha">Painel Atendimento</a></li>
			</ul>
		</div>
	</nav>
	<h2 style="text-align: center">Cadastro Secretaria</h2>

	<form method="POST" action="salvarSec" class="col s12" style="width: 30%; margin: 0px auto 0px auto">
		<input type="hidden" name="id" th:value="${s?.id}"/>
			<div class="row">
				<div class="input-field col s12">
					<input placeholder="Nome" type="text" name="nome" th:value="${s?.nome}">
				</div>
			</div>
			
			<div class="row">
				<div class="input-field col s12">
					<input placeholder="Matrícula" type="text" name="matricula" th:value="${s?.matricula}">
				</div>
			</div>

			<div class="row">
				<div class="input-field col s12">
					<input placeholder="Senha" type="password" name="senha">
				</div>
			</div>
				
			<div class="row">			
				<div class="input-field col s4">
					<input class="waves-effect waves-light btn"
						style="background-color: #DCDCDC" type="submit">
				</div>
			</div>
	</form>
</body>
</html>

<!-- <!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
	<h1>Cadastro de secretario</h1>

	<form method="post" action="salvarSec">

		<input type="hidden" name="id" th:value="${s?.id}"/>

		<div>
			nome <input type="text" name="nome" th:value="${s?.nome}">
		</div>
		<br>
		<div>
			matricula <input type="text" name="matricula" th:value="${s?.matricula}" >
		</div>
		<br>
		<div>
			senha <input type="text" name="senha">
		</div>
		<br>

		<div>
			<button type="submit">Cadastrar</button>
		</div>
	</form>
</body>
</html> -->