<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
	<h1>Cadastro de Visitante</h1>

	<form method="post" action="salvarVisitante">

		<input type="hidden" name="id" th:value="${v?.id}"/>

		<div>
			nome <input type="text" name="nome" th:value="${v?.nome}">
		</div>
		<br>
		<div>
			rg <input type="text" name="rg" th:value="${v?.rg}">
		</div>
		<br>

		<div>
			foto <input type="text" name="foto" th:value="${v?.foto}">
		</div>
		<br>
		<div>
			preferencial <input type="checkbox" name="pref" th:checked="${v?.pref}">
		</div>
		<br>

		<div>
			email <input type="email" name="email" th:value="${v?.email}">
		</div>
		<br>
		<div>
			telefone <input type="text" name="telefone" th:value="${v?.telefone}">
		</div>
		<br>

		<div>
			<select name="porteiro.id">
			<!-- PEGAR O PORTEIRO QUE REALIZOU A SESSAO -->
				<option th:each="p: ${ports}" th:text="${p.nome}" th:value="${p.id}"></option>
			</select> <label>Nome do porteiro cadastrante</label>
		</div>
		<br>

		<div>
			<button type="submit">Cadastrar</button>
		</div>
	</form>
</body>
</html>