<!DOCTYPE html>
<html style="font-family: Calibri" xmlns:th="http://tymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Cadastro de Visitante</title>
<link rel="stylesheet" type="text/css"
	href="/materialize/css/materialize.css">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
	rel="stylesheet">
</head>
	<body>
	<header th:replace="fragments/padrao :: cabecalho"></header>

		<h2 style="text-align: center;">Cadastro de Visitante</h2>
	
		<form class="col s12" method="post"
			style="width: 40%; margin: 0px auto 0px auto" action="salvarVisitante">
			<input type="hidden" name="id" th:value="${v?.id}"/>
			<div class="row">
				<div class="input-field col s12">
					<input placeholder="Nome" type="text" name="nome" th:value="${v?.nome}">
				</div>
			</div>
			
			<div class="row">
				<div class="input-field col s6">
					<input type="text" name="rg" th:value="${v?.rg}" placeholder="RG">
				</div>
				
				<div class="input-field col s6">
					<select name="porteiro.id">
						<option value="" disabled selected>Escolha uma opção</option>
						<option th:each="p: ${ports}" th:text="${p.nome}" th:value="${p.id}"></option>
					</select> <label>Cadastrante</label>
				</div>
			</div>

			<div class="row">
				<div class="input-field col s12">
					<input type="text" name="email" th:value="${v?.email}" placeholder="E-mail">
				</div>
			</div>
			
			<div class="row">
				<div class="input-field col s12">
					<input placeholder="Telefone" type="text" name="telefone" th:value="${v?.telefone}">
				</div>
			</div>
				
			<div class="row">			
				<div class="input-field col s4">
					<input class="waves-effect waves-light btn"
						style="background-color: #DCDCDC" type="submit">
				</div>	
			</div>
		</form>
		<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
		<script src="/materialize/js/materialize.min.js"></script>
	</body>
	<script>
	  $(document).ready(function(){
		    $('select').formSelect();
		  });
	</script>
</html>