<!DOCTYPE html>
<html style="font-family: Calibri" xmlns:th="http://tymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Gera Atendimento</title>
<link rel="stylesheet" type="text/css"
	href="/materialize/css/materialize.css">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
	rel="stylesheet">
</head>
<body>
	<nav>
		<div class="nav-wrapper col s6">
			<a href="/logoutS"><i class="material-icons right"
				style="font-size: 45px">exit_to_app</i></a> <img
				class="brand-logo center" src="/image/senai-logo-nav.png">
			<ul class="left hide-on-med-and-down">
				<li><a href="javascript:history.back()"> <i
						class="material-icons">arrow_back</i></a></li>
				<li><a href="/telaInicioSec">Inicio</a></li>
				<li><a href="/painelSenha">Painel Atendimento</a></li>
			</ul>
		</div>
	</nav>
	<h2 style="text-align: center;">Gerar Atendimento</h2>

	<form class="col s12" method="post"
		style="width: 40%; margin: 0px auto 0px auto" action="salvarGeraAt">
		<input type="hidden" name="id" th:value="${v?.id}" />

		<div class="row">
			<div class="input-field col s12">
				<select name="assunto.id">
					<option value="" disabled selected>Escolha um assunto</option>
					<option th:each="a: ${assunto}" th:text="${a.descAssunto}"
						th:value="${a.id}"></option>
				</select> <label>Assunto</label>
			</div>
		</div>

		<div class="row">
			<div class="input-field col s12">
				<input type="text" name="visitante.id" th:value="${v.nome}"
					disabled="disabled" />
				<input type="hidden" name="visitante.id" th:value="${v.id}">
			</div>
		</div>

		<div class="row">
			<div class="input-field col s10">
				<label> <input type="checkbox" class="filled-in" name="pref" />
					<span>Preferencial</span>
				</label>
			</div>

			<div class="input-field col s2">
				<input class="waves-effect waves-light btn"
					style="background-color: #DCDCDC" type="submit">
			</div>
		</div>

	</form>
	<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
	<script src="/materialize/js/materialize.min.js"></script>
</body>
<script>
	$(document).ready(function() {
		$('select').formSelect();
	});
</script>
</html>

<!-- <!DOCTYPE html>
<html xmlns:th="http://tymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
	<h1>Gera Atendimento</h1>

	<form method="post" action="salvarGeraAt">

		<div>
			<label>Assuntos</label> <select name="assunto.id">
				<option th:each="a: ${assunto}" th:text="${a.descAssunto}"
					th:value="${a.id}"></option>
			</select>
		</div>
		<br>
		<div>
			<input type="text" name="visitante.id" th:value="${v.nome}" disabled="disabled"/>
			<input type="hidden" name="visitante.id" th:value="${v.id}"/>
		</div>
		<br>
		<div>
			preferencial <input type="checkbox" name="pref">
		</div>
		<div>
			<button type="submit">GERAR</button>
		</div>
	</form>
</body>
</html> -->