<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Painel de Login</title>
<link rel="stylesheet" href="/css/index.css">
<link rel="stylesheet" href="/css/login.css">
<link rel="stylesheet" href="/css/footer.css">
</head>
<body>
	<div class="container">
		<header class="cabecalho">
			<h1 class="texto">Login</h1>
		</header>
		<div class="TranspCad2">
			<div class="btns">
				<button class="btnLoginIndex1">
					<a href="loginSec">Secretaria</a>
				</button>
				<button class="btnLoginIndex2">
					<a href="loginPort">Portaria</a>
				</button>
			</div>
		</div>
		<footer class="rodape">Escola Senai "Ricardo Lerner"</footer>
	</div>


</body>
</html>

<!-- <!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
	<h1>LOGIN</h1>

	<a href="loginSec">ACESSO SECRETARIA</a>
	<p>
		<a href="loginPort">ACESSO Portaria</a>
</body>
</html> -->