<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
	<h1>Lista de Sec</h1>
	<p>
	<a href="javascript:history.back()">VOLTAR</a>
	<p>
	<a href="/cadSec">Cadastrar Secretaria</a>
	<p>
	<form action="/buscarPorNomeS">
		Buscar por Nome <br> <input type="search" name="nome" />
		<button type="submit">Buscar</button>
	</form>
	<p>
	<table class="striped">
		<thead>
			<th>Id</th>
			<th>Nome:</th>
			<th>Matricula</th>
			<th>Alterar</th>
			<th>Desativar Cadastro</th>
		</thead>

		<tbody>
			<tr th:each="s:${secs}">

				<td th:text="${s.id}" />
				<td th:text="${s.nome}" />
				<td th:text="${s.matricula}" />
				<td><a th:href="@{/alterar(id=${s.id})}">Alterar</a></td>

				<td><a
					th:attr="onclick=|return confirm('Deseja desativar: ${s.nome}')|"
					th:href="@{/excluir(id=${s.id})}">Desativar</a></td>

			</tr>

		</tbody>
	</table>


</body>
</html>