<!DOCTYPE html>
<html style="font-family: Calibri">
<head>
<meta charset="UTF-8">
<title>Lista Periodo de Curso</title>
<link rel="stylesheet" type="text/css"
	href="/materialize/css/materialize.css">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
	rel="stylesheet">

</head>
<body>
	<nav>
		<div class="nav-wrapper col s6">
			<a href="/logoutS"><i class="material-icons right"
				style="font-size: 45px">exit_to_app</i></a> <img
				class="brand-logo center" src="/image/senai-logo-nav.png">
			<ul class="left hide-on-med-and-down">
				<li><a href="javascript:history.back()"><i
						class="material-icons">arrow_back</i></a></li>
				<li><a href="/telaInicioSec">Inicio</a></li>
				<li><a href="/painelSenha">Painel Atendimento</a></li>
			</ul>
		</div>
	</nav>
	<h2 style="text-align: center">Lista Periodo de Cursos</h2>

	<div class="row" style="margin-bottom: 0px">
		<form class="col s12">
			<div class="row">
				<div class="input-field col s12">
					<a class="waves-effect waves-light btn"
						style="background-color: #DCDCDC" href="/cadPeriodoCurso">Criar
						Novo</a>
				</div>

			</div>
		</form>
	</div>
	<table class="striped"
		style="width: 50%; height: 50%; margin: 0px auto 100px auto">
		<thead>
			<th>Periodo</th>
			<th></th>
		</thead>

		<tbody>
			<tr th:each="pc:${periodocurso}">
				<td th:text="${pc.periodo}" />
				<td><a th:href="@{/alterarPc(id=${pc.id})}">Alterar</a></td>
			</tr>

		</tbody>
	</table>
	<script src="/materialize/js/materialize.min.js"></script>

</body>
</html>