<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
	<h1>Lista de Sec</h1>

	<a href="javascript:history.back()">VOLTAR</a>

	<a href="/cadSec">Cadastrar Secretaria</a>

	<table class="striped">
		<thead>
			<th>Id</th>
			<th>Nome:</th>
			<th>Matricula</th>
			<th>Alterar</th>
			<th>Excluir</th>
		</thead>

		<tbody>
			<tr th:each="s:${secs}">

				<td th:text="${s.id}" />
				<td th:text="${s.nome}" />
				<td th:text="${s.matricula}" />
				<td><a th:href="@{/alterar(id=${s.id})}">Alterar</a></td>

				<td><a
					th:attr="onclick=|return confirm('Deseja excluir: ${s.nome}')|"
					th:href="@{/excluir(id=${s.id})}">Excluir </a></td>

			</tr>

		</tbody>
	</table>


</body>
</html>