<!DOCTYPE html>
<html xmlns:th="http//:thymeleaf.org">

<head>
<meta charset="utf-8">
<title>LOGIN | PORTARIA</title>
<link rel="stylesheet" href="/css/login.css">
<link rel="stylesheet" href="/css/footer.css">
</head>
<body>
	<div class="container">
		<header class="cabecalho">
			<div class="texto">
				<h1>
					Login
					<h1 id="text-portaria">Portaria</h1>
				</h1>
			</div>
		</header>
		<div class="TranspCad">
			<form class="formCad" method="post" action="loginP">
				<input type="hidden" name="id" /> <label class="labelPort">Login</label>
				<input class="inptLogin" type="text" name="login" /> <br> <br>
				<label class="labelPort">Senha </label> <input class="inptLogin"
					type="password" name="senha">
					
					<div th:replace="fragments/mensagem"></div>
					
				<button class="btnLogin" type="submit">Login</button>
			</form>
		</div>
	</div>
	<footer class="rodape"></footer>
</body>
</html>

<!-- <!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
	<h1>LOGIN PORTARIA</h1>
	<form method="post" action="loginP">
		<input type="hidden" name="id" />

		<div>
			login <input type="text" name="login">
		</div>

		<div>
			senha <input type="password" name="senha">
		</div>

		<div>
			<button type="submit">Login</button>
		</div>
	</form>

</body>
</html> -->