<!DOCTYPE html>
<html xmlns:th="http://tymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
	<h1>Painel SENHA</h1>
	<p>
	<table class="striped">
		<thead>
			<th>Nome</th>
		</thead>

<!-- 		<tbody>
			<tr th:each="v:${visits}">

				<td th:text="${v.id}" />
				<td th:text="${v.nome}" />
				<td th:text="${v.rg}" />
				<td th:text="${v.foto}" />
				<td th:text="${v.email}" />
				<td th:text="${v.telefone}" />
				<td th:text="${v.porteiro?.nome}" />

			</tr>

		</tbody> -->
	</table>


</body>
</html>