<!DOCTYPE html>
<html lang="pt-br">
<head>
<meta charset="UTF-8">
<title>Início Secretaria</title>
<link rel="stylesheet" type="text/css"
	href="/materialize/css/materialize.css">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
	rel="stylesheet">
</head>
	<body>
		<nav>
			<div class="nav-wrapper col s6">	
				<a href="/logoutP"><i class="material-icons right" style="font-size: 45px">exit_to_app</i></a>		
				<img class="brand-logo center" src="/image/senai-logo-nav.png">
				<ul class="left hide-on-med-and-down">
					<li><a href="javascript:history.back()"><i
							class="material-icons">arrow_back</i></a></li>
					<li><a href="/telaInicioPortaria">Inicio</a></li>
				</ul>
			</div>
		</nav>	
	
		<div class="row" style="margin-top: 250px">
		  
			<a href="listaVisit/1" class="waves-effect waves-light btn-large col" style="margin: 0 40px 0 60px; background-color: #DCDCDC"><i class="material-icons left">dehaze</i>Visitantes</a>
			
			<a href="listaCurso/1" class="waves-effect waves-light btn-large col" style="margin: 0 40px 0 60px; background-color: #DCDCDC"><i class="material-icons left">dehaze</i>Cursos</a>
		</div>
	</body>
</html>


<!-- <!DOCTYPE html>
<html xmlns:th="http://tymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
	<h1>TELA INICIAL PORTARIA</h1>

	<a href="listaCurso/1">Cursos disponiveis</a>
	<p>
		<a href="listaVisit/1">Lista de Visitantes</a>
	<p>
		<a href="/logoutP">SAIR DA SESSAO</a>
</body>
</html> -->