<!DOCTYPE html>
<html lang="pt-br">
<head>
<meta charset="UTF-8">
<title>Início Secretaria</title>
<link rel="stylesheet" type="text/css"
	href="/materialize/css/materialize.css">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
	rel="stylesheet">
</head>
	<body>
		<nav>
			<div class="nav-wrapper col s6">	
				<a href="/logoutS"><i class="material-icons right" style="font-size: 45px">exit_to_app</i></a>		
				<img class="brand-logo center" src="/image/senai-logo-nav.png">
				<ul class="left hide-on-med-and-down">
					<li><a href="javascript:history.back()"><i
							class="material-icons">arrow_back</i></a></li>
					<li><a href="/telaInicioSec">Inicio</a></li>
					<li><a href="/painelSenha">Painel Atendimento</a></li>
				</ul>
			</div>
		</nav>	
	
		<div class="row" style="margin-top: 250px">
		  
			<a href="listaPort" class="waves-effect waves-light btn-large col" style="margin: 0 40px 0 60px; background-color: #DCDCDC"><i class="material-icons left">dehaze</i>Portaria</a>
			
			<a href="listaSec/1" class="waves-effect waves-light btn-large col" style="margin: 0 40px 0 60px; background-color: #DCDCDC"><i class="material-icons left">dehaze</i>Secretaria</a>
			
			<a href="listaCurso/1" class="waves-effect waves-light btn-large col" style="margin: 0 40px 0 60px; background-color: #DCDCDC"><i class="material-icons left">dehaze</i>Cursos</a>
			
			<a href="listaVisit/1" class="waves-effect waves-light btn-large col" style="margin: 0 40px 0 60px; background-color: #DCDCDC"><i class="material-icons left">dehaze</i>Visitantes</a>
			
			<a href="#" class="waves-effect waves-light btn-large disabled col" style="margin: 0 40px 0 60px; background-color: #DCDCDC"><i class="material-icons left">assessment</i>Em breve</a>
		</div>
	</body>
</html>