<!DOCTYPE html>
<html lang="pt-br">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>INICIO | PORTARIA</title>
<link rel="stylesheet" href="css/estilo.css">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link
	href="https://fonts.googleapis.com/css2?family=Imprima&display=swap"
	rel="stylesheet">
</head>
<body>
	<div class="iniporPrinc">

		<header class="cabecalho">
			<img src="/image/senai-logo2.png">

			<button class="btn-sair">
				<a class="link-Sair" href="/logoutP">Sair</a>
			</button>

		</header>

		<div class="cd-cc">
			<button class="btn-curDisp">
				<a class="link-curDisp" href="listaCurso/1">Cursos<br>
					Disponiveis
				</a>
			</button>

			<button class="btn-consCad">
				<a class="link-consCad" href="listaVisit/1">Lista <br>Visitantes
				</a>
			</button>
		</div>

		<footer> Escola Senai “Ricardo Lerner” </footer>
	</div>
</body>
</html>


<!-- <!DOCTYPE html>
<html xmlns:th="http://tymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
	<h1>TELA INICIAL PORTARIA</h1>

	<a href="listaCurso/1">Cursos disponiveis</a>
	<p>
		<a href="listaVisit/1">Lista de Visitantes</a>
	<p>
		<a href="/logoutP">SAIR DA SESSAO</a>
</body>
</html> -->