<!DOCTYPE html>
<html lang="pt-br">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>INICIO | SECRETARIA</title>
<link rel="stylesheet" href="/css/estilo.css">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link
	href="https://fonts.googleapis.com/css2?family=Imprima&display=swap"
	rel="stylesheet">
</head>
<body>
	<div class="iniporPrinc">
		<header class="cabecalho">
			<img src="image/senai-logo2.png">
			<button class="btn-Menu">
				<a class="link-Menu" href="/logoutS">Sair</a>
			</button>
		</header>
		<div class="cd-cc">

			<button class="btn-curDisp">
				<a class="link-curDisp" href="listaCurso/1">Cursos Disponíveis </a>
			</button>

			<button class="btn-consCad">
				<a class="link-consCad" href="listaVisit/1">Lista de Visitantes
				</a>
			</button>

			<button class="btn-consCad">
				<a class="link-consCad" href="/painelSenha">Painel de Senha
					Interno </a>
			</button>

			<button class="btn-consCad">
				<a class="link-consCad" href="listaPort">Portaria </a>
			</button>

			<button class="btn-consCad">
				<a class="link-consCad" href="listaSec/1">Secretaria </a>
			</button>

			<button class="btn-consCad">
				<a class="link-consCad" href="listaCurso/1">Cursos </a>
			</button>

			<button class="btn-consCad">
				<a class="link-consCad" href="painelAtendimento/1">Painel de
					Atendimento Externo </a>
			</button>
		</div>
		<footer> Escola Senai “Ricardo Lerner” </footer>
	</div>
</body>
</html>


<!-- <!DOCTYPE html>
<html xmlns:th="http://tymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
	<h1>TELA INICIAL Secretaria</h1>

	<a href="listaCurso/1">Cursos disponiveis</a>
	<p>
		<a href="listaVisit/1">Lista de Visitantes</a>
	<p>
		<a href="/painelSenha">Painel Senha Interno</a>
	<p>
		<a href="listaPort">Portaria</a>
	<p>
		<a href="listaSec/1">Secretaria</a>
	<p>
		<a href="listaCurso/1">Cursos</a>
	<p>
		<a href="painelAtendimento/1">Painel Atendimento Externo</a>
	<p>
		<a href="/logoutS">SAIR DA SESSAO</a>
</body>
</html> -->